TP1/
TP1_2/
.venv/
ressources/
Projet/MeteoParDepartement/13/
Projet/MeteoParDepartement/64/
Projet/MeteoParDepartement/67/
Projet/MeteoParDepartement/72/
Brut_Data
Projet/CSVTrier
Projet/Images
*__pycache__/